<!DOCTYPE html>
<html>
    <head>
            <title>404 Error</title>
            <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div clas="main-content">
        {{>header}}
       {{errorMessage}}
        </div>

        <p>{{>footer}}</p>
    </body>
</html>